{% extends '@App/base.html.twig' %}

{% block body %}
            {% block top %}
                {% include '@App/top.html.twig' %}
            {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% block left %}{% endblock %}
            </div>
            <div class="col-lg-6">
                {% block index %}{% endblock %}
            </div>
            <div class="col-lg-3">
                {% block right %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% block footer %}
                {% include '@App/footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}