body {
    background-color: red;
}
.table td {
    cursor: pointer;
}
#loginbar {
    background-color: #ff741a;
}
#topbar {
    color: white;
    text-decoration: none;"
margin: 10px;
}

#topbar:hover {
    background-color: #e65a00;
    text-decoration: none;
}
#LCU {
    text-align: right;
}
#LCU1 {
    text-align: right;
}
#profil {
    text-align: left;
}
/* Logo - midten af topbaren*/
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* logo */
/* Navigations bar */
#navigationbar {
    text-align: left;
    background-color: #4d94ff;
}
#white {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navibar1 {
    float: left;
}
.navibar1 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #4d94ff;
}
.navibar1 a:hover {
    background-color: #3384ff;
    text-decoration: none;
    border: 1px solid #000000;
}
/* Navigations bar */
/*Left sidebar*/
#testbaggrund {
    background-color: #0000F0;
    margin-top: 2px;
    height: 60px;
    width: 280px;
}
#testbaggrund1 {
    background-color: #0000F0;
    margin-top: 2px;
    height: 60px;
    width: 280px;
}
.sidebarbillede {
    margin-top: 2px;
    width: 280px;
    height: 60px;
}
#button1 {
    background:none!important;
    border:none;
    padding: 0!important;
    font: inherit;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
/*Left sidebar*/
/*Footer*/
#Footerdiv {
}
#Footercenter {
    text-align: left;
}
#Footerleft {
    text-align: left;
}
#Footerright {
    text-align: left;
}

/*Footer*/
.footer {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    bottom: 0;
    height: 200px;
}