{% extends '@App/adminBase.html.twig' %}

{% block rightColumn %}
        <div class="well">
            <h1>Bet</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
{% endblock %}
